{
  margin: 0;
}

.wrap {
          justify-content: center;
  

        
}

.time-to {
  text-align: center;
  font-family: Bangers;
  color: #342800;
  font-size: 40px;
  letter-spacing: 4px;
}
.time-to span {
  display: block;
  font-size: 30px;
  color: black;
}
